.content-info {
  color: #888;
  background-color: #222;
  padding: 40px;
}

footer {
  .lsi-social-icons {
    text-align: center !important;

    li a {
      padding: 3px;
    }

    @include media-breakpoint-up(md) {
      text-align: right !important;
    }
  }

  [class^="lsicon-"]::before,
  [class*=" lsicon-"]::before {
    vertical-align: bottom;
  }
}
