.language-switcher {
  > a,
  > span {
    display: inline-block;
    text-transform: capitalize;
    border-right: 1px solid #ccc;
    padding-left: 4px;
    padding-right: 6px;
    min-width: 20px;
    color: $white;
    font-size: $font-size-base;
    line-height: $font-size-base;

    &:last-child {
      border-right: none;
    }
  }
}

.navbar-light {
  .language-switcher {
    > a {
      color: rgba(0, 0, 0, 0.9);
    }

    > span {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;

  padding: 5px 0;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: $font-size-lg;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #d4bd16;
    border-top: 1px solid #d4bd16;
    transition: border-bottom 0.4s, border-top 0.4s;
  }
}

.nav-primary {
  .brand > img {
    height: 60px;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }

  &.navbar-light {
    .brand > img {
      height: 30px;
    }
  }

  @include media-breakpoint-up(md) {
    .brand > img {
      height: 80px;
    }

    &.navbar-light {
      .brand > img {
        height: 40px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .brand > img {
      height: 120px;
    }

    &.navbar-light {
      .brand > img {
        height: 60px;
      }
    }
  }
}

.front-wrap {
  header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/In-class_1140.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
}

.banner-container {
  color: #ccc;
  text-transform: uppercase;
  margin: auto;

  h1 {
    font-size: $font-size-base * 2.5;
  }

  h2 {
    font-size: $font-size-base * 1.75;
  }
}

.navbar-toggler {
  border-radius: 0.5rem;
}
