.page-header {
  text-align: center;
  margin-bottom: 30px;

  &::after {
    display: block;
    height: 2px;
    width: 50%;
    background-color: #fade10;
    content: " ";
    margin: 20px auto 0;
  }
}

.content {
  margin: 30px auto;
}
